<settings>
    <servers>
        <server>
            <id>fssai-gitlab-maven</id>
            <configuration>
                <httpHeaders>
                    <property>
                        <name>Private-Token</name>
                        <value>_zLpEs_P4dRgm6FDAEnc</value>
                    </property>
                </httpHeaders>
            </configuration>
        </server>
    </servers>
</settings>
